.first{
    width: 100%;
    background-color: black;
    font-weight: 600px;
    padding: 25px;
    color: white;
    height:100px;

}
 h1{
    text-align: center;
}
.container{
    display: flex;
}
.sidenav{
    width:20%;
    height: 700px;
    background-color: rgb(236, 234, 234);
}
.sidenav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.sidenav li{
    margin: 15px;
}
.pic{
    width:60%;
    background-color: bisque;
    margin: 5%;
    margin-left: 100px;
    height:200px;
    padding-left: 30%;
}
img{ width:50%;
    align-self: center;
     height:200px;
}
.indg{
    width:500px;
    height: 300px;
    margin-left:100px;
    border: 1px solid black;
    border-radius: 10px;
}
.prep{
    width:500px;
    height:300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left:15px;
}
h2{
    text-align: center;
    margin-bottom:20px;
}
.indg ul{
    align-self: center;
    padding: 100px;
}
p{
    padding: 20px;
}